<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}
        { % for field in form 
            if field.widget.input_type != 'hidden'%}
            <p>
                {{ field.label }}
                {{ field(class_="form-control")}}

                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>
            {% endfor %}
            <button class="btn btn-success" type="submit">Register</button>
    </form>
</body>
</html>